<div class="DashBoard-Top-TimeCard">
<div class="DashBoard-Top-TimeCard-Title">
- Time Card -
</div>
<div class="DashBoard-Top-TimeCard-QRArea">
QR HEAR
<%= format("%04d", current_user.id) %>
</div>
<div class="DashBoard-Top-TimeCard-Time">
2022年7月7日 11:11:11
</div>
<div class="DashBoard-Top-TimeCard-Line double"></div>
<div class="DashBoard-Top-TimeCard-Text">
所属：本部（新生ビルテクノ株式会社 / 稲毛海浜公園プール）
</div>
<div class="DashBoard-Top-TimeCard-Line dashed"></div>
<div class="DashBoard-Top-TimeCard-Text Title">
氏名：石塚 凪
</div>
<div class="DashBoard-Top-TimeCard-Line dashed"></div>
<div class="DashBoard-Top-TimeCard-Status Active">
出勤中 ( 出勤打刻：2022/7/7 12:12:12 )
</div>
<div class="DashBoard-Top-TimeCard-Status">
未出勤
</div>
</div>