/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
  background-color: #f8f7f6;
  display: flex;
  flex-direction: column;	
  min-height: 100vh!important;
  width: 100%;
  flex: 1;
  overflow: scroll!important; /* ここのscrollが効かない */
  height: auto!important; /* これを追加 */
}
a {
  text-decoration: none!important;
  text-decoration: none;
}
a :hover{
  text-decoration: none!important;
  font-weight: bold;
}
//タイトルとか
.Page-Area{
	margin: auto;
	margin-top: 1vw;
	width: 90%;
	margin-bottom: 10px;
 }
 .Page-Area .Page-Title{

	 font-size: 30px;
 }
 .Page-Area .Page-Text{
	font-size: 15px;
  margin-bottom: 10px;
 }
.Page-DashBord{
  border: solid 2px #FF574D;
  border-radius: 3px;
  background-color: #FFF;
  padding: 1vw;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.DashBoard{
  border: solid 1px #A2A2A2;
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  border-radius: 4px;
  background-color: #FFFFFF;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
//ボタン
.Select-botun-home{
	margin: auto;
  margin-top: 20px;
  width: 40%;
  height: auto;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px;
 } 
 .Select-botun-home > a{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #2d2d2d;
    background-color: #fff;
}
.Dashboard .Dashboard-Panel{
  margin: auto;
  height: 95%;
  width: 95%;
}
.Dashboard .Dashboard-DoubleGroup{
 margin: auto;
 margin-top: 10px;
 height: auto;
 margin-bottom: 10px;
 border-radius: 5px;

}
 // 画面が小さい時
 @media screen and (max-width: 820px) {
  .Select-botun-home{
    width: 95%;
   } 
 }